<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>brandingandidentity</servlet-name>
    <jsp-file>/brandingandidentity.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>brandingandidentity</servlet-name>
    <url-pattern>/brandingandidentity</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>digital-ravana-2020</servlet-name>
    <jsp-file>/digital-ravana-2020.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>digital-ravana-2020</servlet-name>
    <url-pattern>/digital-ravana-2020</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>digitalmarketing</servlet-name>
    <jsp-file>/digitalmarketing.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>digitalmarketing</servlet-name>
    <url-pattern>/digitalmarketing</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>services</servlet-name>
    <jsp-file>/services.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>services</servlet-name>
    <url-pattern>/services</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Thank_You</servlet-name>
    <jsp-file>/Thank_You.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Thank_You</servlet-name>
    <url-pattern>/Thank_You</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>webanddevelopment</servlet-name>
    <jsp-file>/webanddevelopment.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>webanddevelopment</servlet-name>
    <url-pattern>/webanddevelopment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>aboutus</servlet-name>
    <jsp-file>/aboutus.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>aboutus</servlet-name>
    <url-pattern>/aboutus</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>portfolio</servlet-name>
    <jsp-file>/portfolio.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>portfolio</servlet-name>
    <url-pattern>/portfolio</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>orm</servlet-name>
    <jsp-file>/orm.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>orm</servlet-name>
    <url-pattern>/orm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>contact</servlet-name>
    <jsp-file>/contact.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>contact</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>au-digital-services-australia</servlet-name>
    <jsp-file>/au-digital-services-australia.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>au-digital-services-australia</servlet-name>
    <url-pattern>/au-digital-services-australia</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>404</servlet-name>
    <jsp-file>/404.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>404</servlet-name>
    <url-pattern>/404</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
</web-app>